Package: yap
Version: 0.0.11
Section: unknown
Priority: optional
Architecture: all
Depends: php-cli, php-xml, php-curl, php-mbstring, ffmpeg, imagemagick
Maintainer: Tim Hollmann <deb-packages.5f64588b@mail.tim-hollmann.de>
Description: Yet Another Podcatcher
